<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <script>
        // 1. 从第二个元素（第一个要被排序的新元素开始），从后向前扫描之前的元素序列
        // 2. 如果当前扫描的元素大于新元素，将扫描元素移动到下一位
        // 3. 重复步骤 2，直到找到一个小于或者等于新元素的位置
        // 4. 将新元素插入到该位置
        // 5. 对于之后的元素重复步骤 1 ~ 4
        function insertionSort(arr) {
            // 从第二个元素开始
            for (let i = 1; i < arr.length; i++) {
                // 新元素
                const cur = arr[i]
                let j = i - 1
                // 如果扫描元素 大于 新元素，将扫描元素移动到下一位
                // 重复上述步骤，直到找到一个小于或者等于新元素的位置
                // 案例中当扫描到6时，6 > 4 替换，5 > 4 替换，3 > 4 停止 此时 arr  [2, 3, 4, 5, 6, 1]
                while (j >= 0 && arr[j] > cur) {
                    arr[j + 1] = arr[j]
                    j--
                }
                // 新元素插入该位置
                arr[j + 1] = cur
            }
        }
        let arr = [3, 2, 5, 6, 4, 1]
        insertionSort(arr)
        console.log(arr)
    </script>
</body>

</html>