<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        (function () {
            // 迭代
            function sum(n) {
                let sum = 0
                for(let i = 1; i <= n; i++) {
                    sum += i
                }
                return sum
            }
            console.log(sum(3))

            // 递归
            function recur(n) {
                // 终止条件
                if(n === 1) {
                    return 1
                }
                // 递：递归调用
                const res = recur(n - 1)
                // 归：返回结果
                return n + res
            }
            console.log(recur(3))
        })()
    </script>
</body>
</html>