<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <script>
      ;(function () {
        // 迭代 f(n)
        function sum(n) {
          let sum = 0
          for (let i = 1; i <= n; i++) {
            sum += i
          }
          return sum
        }
        console.log(sum(3))

        // 递归 f(n) = n + f(n - 1)
        function recur(n) {
          // 终止条件
          if (n === 1) {
            return 1
          }
          // 递：递归调用
          const res = recur(n - 1)
          // 归：返回结果
          return n + res
        }
        console.log(recur(3))

        // 尾递归
        function tRecur(n, res) {
          if (n === 0) {
            return res
          }
          return tRecur(n - 1, n + res)
        }
        console.log(tRecur(3, 0))

        // 使用迭代模拟递归 调用栈行为
        function forLoopRecur(n) {
          // 使用一个显式的栈来模拟系统调用栈
          const stack = []
          let res = 0
          // 递：递归调用
          for (let i = 1; i <= n; i++) {
            // 通过“入栈操作”模拟“递”
            stack.push(i)
          }
          // 归：返回结果
          while (stack.length) {
            // 通过“出栈操作”模拟“归”
            res += stack.pop()
          }
          // res = 1+2+3+...+n
          return res
        }
        console.log(forLoopRecur(3))
      })()
    </script>
  </body>
</html>
